* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;

  min-width: 58rem;
  min-height: 53rem;

  max-width: 102.4rem;
  margin-inline: auto;
}
body {
  padding: 1rem;

  display: grid;
  grid-template-areas:
    'aside header'
    'aside main'
    'aside footer';

  grid-template-rows: 5rem 80% 1fr;
  grid-template-columns: 20% 80%;

  position: absolute;
}

body.sidebar-hidden {
  grid-template-columns: 0% 100%;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
  width: 100%;

  height: 100%;
  overflow: scroll;

  padding-right: 1rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;

  padding-block: 1rem;
}

h1 {
  font-size: 3rem;
}

legend {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

.labels {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

span.error {
  color: red;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  width: 100%;

  margin-block: 2rem;
}

.login-form label,
.register-form label,
.new-chat-form label {
  font-size: 1.5rem;
  margin-right: 0.5rem;

  display: block;
}

.login-form input,
.register-form input {
  width: 25rem;
}

#new-chat {
  margin-top: 5rem;

  border-radius: 1rem;

  background-color: lightcyan;
}

.square {
  height: 2rem;
  width: 2rem;

  background-color: white;

  border-top: 1px solid black;
  border-left: 1px solid black;

  position: absolute;
  left: calc(10% - 0.4rem);
  top: 9.5rem;
  transform: rotate(45deg);
  z-index: 2;
}

.new-chat-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  width: 16%;

  padding: 1rem;

  border: 1px solid black;
  border-radius: 1rem;

  background-color: white;

  position: absolute;
  left: calc(2% + 0.4rem);
  top: 10.5rem;
}

.chats .chat {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border-block: 1px solid gray;

  padding: 0.5rem;

  cursor: pointer;
}

.chats .chat.selected {
  background-color: lightpink;
}

.chats .chat .user {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
}

.chats .chat .last-message {
  font-weight: 200;

  overflow: hidden;
  text-wrap: nowrap;
}

.chat-box {
  width: 100%;
  height: 100%;

  overflow: scroll;

  border: 1px solid black;
  border-radius: 1rem;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message-box {
  border: 1px solid gray;
  border-radius: 1rem;

  padding: 0.5rem 2rem 0.5rem 1rem;

  display: flex;
  flex-direction: column;

  gap: 0.1rem;

  width: fit-content;
}

.message-box.own-message {
  align-self: flex-end;

  background-color: lightgreen;
}

.message-box.outside-message {
  align-self: flex-start;

  background-color: lightblue;
}

.message-box .message-text,
.message-box .message-user {
  font-size: 1.6rem;
}

.message-box .message-user {
  font-weight: 500;

  text-transform: capitalize;

  color: navy;
}

.message-box .message-time {
  align-self: flex-end;

  margin-right: -1rem;
}

.message-form {
  height: 100%;
  display: grid;

  grid-template-columns: 80% 20%;
}

textarea,
input {
  padding: 0.5rem 1rem;
}

textarea {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  height: 100%;
}

input#new-chat-user {
  width: 100%;

  border-radius: 1rem;
}

input#new-chat-user::placeholder {
  font-size: 1rem;
}

button {
  cursor: pointer;

  padding: 0.5rem 1rem;
}

button#start-new-chat {
  width: 100%;

  border-radius: 1rem;
}

.message-form button {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.hidden {
  display: none;
}
