* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;

  min-width: 32rem;
  min-height: 53rem;
}
body {
  padding: 1rem;

  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';

  grid-template-rows: 5rem 80% 1fr;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;

  padding-block: 1rem;
}

h1 {
  font-size: 3rem;
}

legend {
  font-size: 1.5rem;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  width: 100%;

  margin-block: 2rem;
}

.login-form label,
.register-form label {
  font-size: 1.5rem;
  margin-right: 0.5rem;

  display: block;
  width: 10rem;
}

.login-form input,
.register-form input {
  width: 25rem;
}

.chat-box {
  width: 100%;
  height: 100%;

  overflow: scroll;

  border: 1px solid black;
  border-radius: 1rem;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message-box {
  border: 1px solid gray;
  border-radius: 1rem;

  padding: 0.5rem 2rem 0.5rem 1rem;

  display: flex;
  flex-direction: column;

  gap: 0.1rem;

  width: fit-content;
}

.message-box.own-message {
  align-self: flex-end;

  background-color: lightgreen;
}

.message-box.outside-message {
  align-self: flex-start;

  background-color: lightblue;
}

.message-box .message-text,
.message-box .message-user {
  font-size: 1.6rem;
}

.message-box .message-user {
  font-weight: 500;

  text-transform: capitalize;

  color: navy;
}

.message-box .message-time {
  align-self: flex-end;

  margin-right: -1rem;
}

.message-form {
  height: 100%;
  display: grid;

  grid-template-columns: 80% 20%;
}

textarea,
input {
  padding: 0.5rem 1rem;
}

textarea {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  height: 100%;
}

button {
  cursor: pointer;

  padding: 0.5rem 1rem;
}

.message-form button {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.hidden {
  display: none;
}
